In [26]:
import sklearn as sk
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import joblib

In [30]:
#streamlit-es importok
import streamlit as st

In [20]:
dataset = pd.read_csv("data.csv")
dataset

,Age,Gender,Education,Introversion Score,Sensing Score,Thinking Score,Judging Score,Interest,Personality
0,19.0,Male,0,9.47080,7.141434,6.03696,4.360278,Unknown,ENFP
1,27.0,Female,0,5.85392,6.160195,0.80552,4.221421,Sports,ESFP
2,21.0,Female,0,7.08615,3.388433,2.66188,5.127320,Unknown,ENFP
3,28.0,Male,0,2.01892,4.823624,7.30625,5.986550,Others,INTP
4,36.0,Female,1,9.91703,4.755080,5.31469,4.677213,Technology,ENFP
...,...,...,...,...,...,...,...,...,...
128056,27.0,Male,0,5.11456,7.764336,5.72341,2.686904,Arts,ESTP
128057,19.0,Male,0,3.00078,2.525392,4.71081,3.657814,Unknown,INFP
128058,26.0,Female,1,8.16219,3.433857,2.45531,5.541144,Arts,ENFP
128059,24.0,Male,0,9.37782,5.077443,1.79598,6.762643,Unknown,ENFJ
128060,27.0,Male,0,7.78827,4.770737,3.18600,6.204355,Others,ENFJ

In [21]:
print(dataset["Interest"].nunique()) #5 fele interest
print(dataset["Personality"].nunique()) # 16 fele personality

5
16

In [22]:
dataset["Gender"] = dataset["Gender"].map({'Female': 1, 'Male': 0})
le = LabelEncoder()
dataset["Interest"] = le.fit_transform(dataset["Interest"])
dataset["Personality"] = le.fit_transform(dataset["Personality"])
dataset

,Age,Gender,Education,Introversion Score,Sensing Score,Thinking Score,Judging Score,Interest,Personality
0,19.0,0,0,9.47080,7.141434,6.03696,4.360278,4,1
1,27.0,1,0,5.85392,6.160195,0.80552,4.221421,2,5
2,21.0,1,0,7.08615,3.388433,2.66188,5.127320,4,1
3,28.0,0,0,2.01892,4.823624,7.30625,5.986550,1,11
4,36.0,1,1,9.91703,4.755080,5.31469,4.677213,3,1
...,...,...,...,...,...,...,...,...,...
128056,27.0,0,0,5.11456,7.764336,5.72341,2.686904,0,7
128057,19.0,0,0,3.00078,2.525392,4.71081,3.657814,4,9
128058,26.0,1,1,8.16219,3.433857,2.45531,5.541144,0,1
128059,24.0,0,0,9.37782,5.077443,1.79598,6.762643,4,0
128060,27.0,0,0,7.78827,4.770737,3.18600,6.204355,1,0

In [23]:
y = dataset["Personality"]
X = dataset.drop('Personality', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size= 0.8, random_state= 42)

## tesztuzemkent cnn
## Modell Ã©pÃ­tÃ©se
model = Sequential([
    # Dense 1
    Dense(128,activation='relu', input_dim=features.shape[1]),Dropout(0.2),
    # Dense 2
    Dense(64,activation='relu'),Dropout(0.2),
    # Dense 3
    Dense(32,activation='relu'),Dropout(0.2),
    # Dense 4
    Dense(1,activation='linear')
])

# Modell Ã¶sszeÃ¡llÃ­tÃ¡sa
model.compile(optimizer='adam', loss='mean_squared_error')

model.summary()

In [27]:
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test,y_pred)
print("PontossÃ¡g:")
print(accuracy)

PontossÃ¡g:
0.9045797056182407

In [31]:
st.title("Random Forest Classifier webapp")
st.write(dataset.head())
st.write(f'PontossÃ¡g: {accuracy:.2f}')
joblib.dump(model, 'model.pkl')

2024-09-20 17:07:45.934 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-20 17:07:46.412
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\majer\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\ipykernel_launcher.py [ARGUMENTS]
2024-09-20 17:07:46.415 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-20 17:07:46.933 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-20 17:07:46.937 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-20 17:07:46.939 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-20 17:07:46.941 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-20 17:07:46.944 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-20 17:07:46.946 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.